<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nobis, pariatur fugit atque, aut molesta adipisci? Fugit obcaecati illo expedita repudiandae consectetur laudantium ducimus magnam, tempore suscipit sit tempora hic non ab.</p>
    {{> footer}}
  </body>
</html>
